In [10]:
import pandas as pd

url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
test = pd.read_csv(url, sep=',', encoding = 'latin-1')

test

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

Q11. What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

**2014: 209460.54**


**2017: 269617.53**

In [23]:
test.groupby('Item').sum()

                     Area Code  Item Code  ...      Y2017      Y2018
Item                                       ...
Alcohol, Non-Food        38447     752497  ...    2348.00    2293.00
Alcoholic Beverages      75016    1649136  ...   95581.06   97847.27
Animal Products          18060     397035  ...   11547.65   11578.61
Animal fats              85279    1882494  ...  269617.53  269648.27
Apples and products      69280    1352989  ...   10198.90    9640.51
...                        ...        ...  ...        ...        ...
Vegetables, Other        77779    1518715  ...  157752.59  163987.21
Vegetal Products         18060     391905  ...  107655.20  107775.39
Wheat and products       87073    1639683  ...  240047.62  242645.19
Wine                     66206    1319535  ...    4178.02    4039.32
Yams                     50798     970905  ...  229174.59  221272.09

[119 rows x 8 columns]

Q16. What is the total number of the sum of Production in 2014?

1931287.75

Q15. What year has the highest sum of Import Quantity?

**2017**

In [24]:
a = test.groupby('Element').sum()
a

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

Q12. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

**Mean: 135.235**

**std: 1603.403**

In [15]:
test.describe(include='all')

           Area Code   Area  ...          Y2017          Y2018
count   60943.000000  60943  ...   59437.000000   59507.000000
unique           NaN     49  ...            NaN            NaN
top              NaN  Kenya  ...            NaN            NaN
freq             NaN   1560  ...            NaN            NaN
mean      134.265576    NaN  ...     140.917765     143.758381
std        72.605709    NaN  ...    1671.862359    1710.782658
min         4.000000    NaN  ...   -1582.000000   -3396.000000
25%        74.000000    NaN  ...       0.000000       0.000000
50%       136.000000    NaN  ...       0.100000       0.070000
75%       195.000000    NaN  ...       9.000000       9.000000
max       276.000000    NaN  ...  190873.000000  195875.000000

[11 rows x 12 columns]

Q13. What is the total number and percentage of missing data in 2016 to 2 decimal places?

**1535 and 2.52**

In [16]:
test.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [45]:
test.shape

(60943, 12)

In [46]:
(1535/60943)*100

2.5187470259094566

Q17. Which of these elements had the highest sum in 2018?

**Domestic supply quantity**

In [47]:
a

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [48]:
max(a['Y2018'])

2161192.1

Q18. Which of these elements had the 3rd lowest sum in 2018?

**Protein supply quantity (g/capita/day)**

In [50]:
a.sort_values(by=['Y2018'])

                                        Area Code  ...       Y2018
Element                                            ...
Tourist consumption                         50308  ...       90.00
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Stock Variation                            571566  ...    20577.91
Seed                                       103537  ...    25263.14
Residuals                                  623271  ...    34864.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Other uses (non-food)                      235554  ...    91300.97
Losses                                     274353  ...   163902.00
Export Quantity                            599910  ...   181594.80
Feed                                       176272  ...   233489.68
Import Quantity                            688174  ...   287997.09
Processing                                 271940  ...   308429.00
Food supply (kcal/capita/day)              674057  ...   455261.00
Total Population - Both sexes                6020  ...  1140605.00
Food                                       663295  ...  1303841.28
Production                                 526751  ...  2075072.89
Domestic supply quantity                   708993  ...  2161192.10

[18 rows x 8 columns]

Q19. What is the total Import Quantity in Algeria in 2018?

**36238.29**

In [44]:
b = test.groupby(['Area','Element']).sum()
b.iloc[0:17]

                                                Area Code  ...     Y2018
Area    Element                                            ...
Algeria Domestic supply quantity                      464  ...  90023.42
        Export Quantity                               392  ...    811.54
        Fat supply quantity (g/capita/day)            432  ...    309.09
        Feed                                           88  ...  10668.00
        Food                                          420  ...  63736.33
        Food supply (kcal/capita/day)                 432  ...  13288.00
        Food supply quantity (kg/capita/yr)           420  ...   1509.28
        Import Quantity                               448  ...  36238.29
        Losses                                        208  ...   7708.00
        Other uses (non-food)                         148  ...   3970.08
        Processing                                    140  ...   2479.00
        Production                                    360  ...  60766.67
        Protein supply quantity (g/capita/day)        432  ...    367.28
        Residuals                                     408  ...    630.00
        Seed                                           80  ...    825.00
        Stock Variation                               376  ...   6172.00
        Total Population - Both sexes                   4  ...  42228.00

[17 rows x 8 columns]

Q20. What is the total number of unique countries in the dataset?

**A. 49**

In [26]:
country = test.groupby('Area').sum()
country

                             Area Code  Item Code  ...       Y2017       Y2018
Area                                               ...
Algeria                           5252    3532053  ...   325644.27   341729.98
Angola                            9968    3819908  ...   229159.57   235206.68
Benin                            68105    3453692  ...   124771.22   124960.70
Botswana                         27560    3704902  ...    22101.30    23129.08
Burkina Faso                    328297    3778795  ...   101855.07   112970.72
Cabo Verde                       44100    3396746  ...    14650.74    14622.60
Cameroon                         46720    3916078  ...   232030.43   233022.93
Central African Republic         49728    3607546  ...    29937.00    30101.57
Chad                             52377    3606529  ...    71594.68    72282.24
Comoros                           2025     124514  ...       59.84       59.84
Congo                            64998    3792029  ...    41181.68    42005.53
Côte d'Ivoire                   156969    3934818  ...   224599.01   227018.00
Djibouti                         78840    2956078  ...    22729.91    23718.96
Egypt                            87792    3996567  ...   866379.92   852652.92
Eswatini                        268356    3456174  ...    54343.33    55045.07
Ethiopia                        344386    3878162  ...   448683.76   450788.86
Ethiopia PDR                      2418     107853  ...        0.00        0.00
Gabon                            92130    3354410  ...    27979.64    28339.38
Gambia                           87600    3145402  ...    23154.18    23513.80
Ghana                           109674    3639339  ...   337599.06   358915.64
Guinea                          126900    3782145  ...    98138.87   103262.08
Guinea-Bissau                   197400    3035574  ...    19102.77    18997.92
Kenya                           177840    4185637  ...   264660.66   270916.80
Lesotho                         140300    3099348  ...    21267.96    19109.23
Liberia                         148338    3249929  ...    29342.20    29629.83
Madagascar                      185631    3864258  ...   131197.73   134576.44
Malawi                          188110    3879389  ...   181098.71   187366.09
Mali                            171969    3469876  ...   149928.33   159026.42
Mauritania                      162520    3222107  ...   156665.46   157479.95
Mauritius                       188786    3711587  ...    51114.83    47150.91
Morocco                         199199    3743082  ...   388495.36   399271.27
Mozambique                      205488    3830309  ...   161407.98   164934.05
Namibia                         188601    3452725  ...    29874.89    29350.04
Niger                           221674    3763737  ...   126707.58   133982.86
Nigeria                         234366    3954357  ...  1483268.23  1499774.24
Rwanda                          262384    3824085  ...    73663.69    74839.08
Sao Tome and Principe           227161    3168050  ...    12662.63    12806.49
Senegal                         285090    3922180  ...    95681.15    95493.82
Seychelles                       13328     188266  ...      442.34      442.34
Sierra Leone                    244674    3343306  ...    55311.33    55981.73
South Africa                    282598    3759379  ...   517590.54   509787.97
Sudan                           363216    3534661  ...   239931.92   268054.39
Sudan (former)                   10918     146631  ...        0.00        0.00
Togo                            280798    3478828  ...    49841.88    54872.00
Tunisia                         297036    3602818  ...   124167.20   127343.17
Uganda                          329508    3909109  ...   213950.38   222147.25
United Republic of Tanzania     305085    3809549  ...   322616.85   349763.41
Zambia                          364201    3892801  ...   103223.77   101604.27
Zimbabwe                        252133    3739292  ...    75919.34    76581.41

[49 rows x 8 columns]

In [27]:
country.shape

(49, 8)

Q14. Which year had the highest correlation with ‘Element Code’?

**2018**

In [51]:
test.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]